form {
    display: flex;
    /* flex-direction: column; */
    /* width: 200px; */
}

input,
textarea,
select {
    margin-bottom: 10px;
}

#yearExp,
#monthExp {}

fieldset {
    display: flex;
    flex-direction: column;
}

#expiration {
    display: flex;
}

.success {
    border-bottom: 2px solid green;
}

.error {
    border-bottom: 2px solid red;
}

body {
    margin: 0;
    height: 100vh;
}

.wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* input,
textarea {
    margin: 10px auto;
    width: 100%;
} */